*{
	margin: 0;
	padding: 0;
}

h1 a img{
	width: 100px;
}

section.principal {
	background-image:url(../img/post-image.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
}
h2{
	text-align: center;
	padding-top: 50vh;
	color: #ffffff;
	font-size: 4rem;
	font-family: 'Playfair Display', serif;
}

p.parrafos{
	padding: 2em;
}